{% load static %}


<div class="blog-header">
  <h1 class="blog-title">Guilherme Benjamim Sordi</h1>

  <h2 class="blog-description">Desenvolvimento Web, documentação, tutorial, artigos e coisas do tipo do mundo da tecnologia.
  </h2>

  <div class="custom-links">
    <a class="icon-bio" href="https://bio.site/guilhermebenjamin" title="Check my Bio" target="_blank">
      {% comment %} <img src="{% static 'img/bio.png' %}" alt="Bio"> {% endcomment %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg ninja" viewBox="0 0 16 16">
        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
      </svg>
    </a>
    &nbsp;&nbsp;·&nbsp;&nbsp;


    <a class="icon-linkedin" href="https://www.linkedin.com/in/guilhermebenjamim/" title="Connect with me on LinkedIn" target="_blank">
      <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
    </a>
    &nbsp;&nbsp;·&nbsp;&nbsp;


    <a class="icon-github" href="https://github.com/gu1lh3rm3s0rd1" title="Fork no github" target="_blank">
      <img src="{% static 'img/github.png' %}" alt="Github">
    </a>
    &nbsp;&nbsp;·&nbsp;&nbsp;

    <a href="{% url 'about' %}" title="About me" target="_blank">Sobre</a>
  </div>
</div>
