{% load static %}

<div class="bottom-teaser">
  <div class="isLeft" style="width: 60% !important;">
    <section class="author">
      <h4 style="padding-left: 0 !important;" class="mb-2">Leia também</h4>
      <ul style="padding-left: 1rem;">
        {% for post in posts %}
        <li><a class="link-offset-2 link-underline link-underline-opacity-0 link-info" href="{% url 'post_detail' post.slug %}">
            {{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  </div>

  <div class="isRight" style="width: 35% !important; margin-left: 5px;">
    <section class="author">
      <h4 style="padding-left: 0 !important; font-size: 18px; line-height: 1.1; font-weight: 700;">Gostou do post? </h4>
      <p class="mb-0">Compartilhe nas redes</p>
      <div class="blog-header" style="margin: 0 !important;">
        <div class="custom-links" style="margin: 0 !important; text-align: start;"> 

           <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook">
          </a> 
          {% comment %} &nbsp;&nbsp;·&nbsp;&nbsp; {% endcomment %}

           <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank">
            <img src="{% static 'img/x.png' %}" alt="Twitter/X">
          </a>
          {% comment %} &nbsp;&nbsp;·&nbsp;&nbsp; {% endcomment %}

          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}" target="_blank">
            <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
          </a>          

        </div>
      </div>
    </section>
  </div>
</div>

