{% extends 'main.html' %}
{% load static %}

{% block content %}

  <div class="content mt-5">
    <div class="container-fluid" style="display: flex;align-content: end;width: 100%;justify-content: center;">
      <div class="post" style="align-self: center;">
        <h6 class="post-title mt-5">Sobre Mim</h6>
        <hr>

        <div class="post-excerpt mt-5">
          <p>Meu nome é Guilherme Benjamin Sordi, sou programador de sistemas e estudante de Engenharia de Software e Sistemas de Informação. Trabalho como programador há mais de 2 anos e este é o meu blog.</p>
          <p>Este blog foi criado com o intuito de compartilhar conhecimento e experiências sobre programação e tecnologia. Aqui você encontrará tutoriais, artigos e dicas sobre o mundo da tecnologia.</p>
          <p>Atualmente, tenho me dedicado ao desenvolvimento back-end, mas compreendo um pouco de front-end e mobile. No back-end, tenho experiências com Python, PHP, Node.js e muitos frameworks para auxiliar nas tarefas. Já estudei um pouco de Java, C++ e .NET também. No front-end, gosto de trabalhar com Bootstrap para desenvolver interfaces e estilizar páginas. Já tive um breve contato com Tailwind, mas não me identifiquei muito.</p>
          <p>Desde o início de 2024, tenho me dedicado a estudar e aprender sobre o mundo de DevOps. Tenho estudado muito sobre Docker e Kubernetes e venho tentando aplicar essas ferramentas em minhas aplicações. Este foi um dos motivos de ter criado este blog, quero deixar registrado os meios para construir minhas aplicações e mostrar um pouco do que venho aprendendo, e assim, quem sabe, ajudar pessoas como eu, que não sabiam como desenvolver algo.</p>
          <p>Seja bem-vindo e aproveite o conteúdo!</p>
          <p>Se quiser entrar em contato comigo, envie um <a href="mailto:guilherme2507@gmail.com">e-mail</a> para mim ou acesse <a href="https://bio.site/guilhermebenjamin">aqui</a>.</p>
        </div>
      </div>
    </div>
  </div>
    
{% include 'layouts/footer.html' %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


{% endblock %}

