{% extends "main.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block extra_head %} {{ form.media }} {% endblock %}
{% block content %}

<div class="content-wrapper">
  {% comment %} <div class="col-sm-6">
    <h1>preview</h1>

    <div class="content-preview">
      <h3 id="preview-title"></h3>
      <input id="preview-title" />
      <p id="preview-content"></p>
    </div>
  </div> {% endcomment %}

  <div class="post">
    <h2>Crie um novo Post</h2>

    <form method="post" id="forms" class="mt-3" enctype="multipart/form-data">
      {% csrf_token %}

      {% comment %} formulario com as classes do bootstrap {% endcomment %}
      {% comment %} {% crispy form %} {% endcomment %}
      {{ form.as_p }}
      <div class="form-group text-end" style="margin-top: 23rem">
        <a href="{% url 'home' %}" class="btn btn-danger" name="cancel">
          Cancelar
        </a>
        <button type="submit" class="btn btn-success" name="submit" form="forms">
          Publicar
        </button>
      </div>
    </form>

  </div>

  {% endblock %}